* {
  box-sizing: border-box;
}

header, nav, main, footer {
  display: block;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

.arrayStructure {
  border:1px solid #000000;
  border-radius: 5px;
  background: #EF2F88;
  padding: 20px;
  width: 10%;
  height: 6rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;



}

.stack {
 border:1px solid #000000;
 border-radius: 5px;
 background: #8843F2;
 padding: 20px;
 width: 10%;
 height: 6rem;
 font-family: 'Roboto', sans-serif;
 margin: 0;
 display: block;


}

  /* Configures the general aesthetic for the webpage. */
  body {
    background-color: #DEECFF;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
  }

  /* Responsible for the appearance of the h1 elements in document. */
  h1 {
    background-color: #64C4ED;
    Border-bottom: solid 2px black;
    color: #FFFFFF;
    font-size: 4em;
    margin: auto;
    padding: 45px;
    text-align: center;
    width: 100%;
  }

  /* Responsible for the appearance of the h2 elements in document. */
  h2 {
    Color: #000000;
    font-size: 3em;
    margin: auto;
    padding-top: 45px;
    padding-left: 0;
    width: 100%;
  }




  /* Responsible for the appearance of the main element. */
  main {
    background-color: #FFFFFF;
    display: block;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: -1em;
    margin-left: 200px;
  }

  /* Targets contents within main element. */
  main, h3, h4, p, div {
    padding-left: 3em;
    padding-right: 2em;
  }

  /* Intended to configure the footer section's appearance. */
  footer {
    background-color: #64C4ED;
    border-top: solid 2px;
    font-size: 1em;
    font-style: italic;
    padding: 10px;
    text-align: center;
  }

  /* Intended to configure the form section's appearance. */
  form {
    padding: 2em;
  }

  /* Intended to configure the label of the form section's appearance. */
  label {
    display: inline-block;
    font-size: 2em;
    padding-right: 2em;
    text-align: left;
    width: 8em;
  }

  #radioButton {
    border: 0px;
    width: 2em;
    height: 2em;
    margin-right: 2em;
  }
  #submitButton {
    float: left;
  }

  input, textarea {
    margin-bottom: 1em;
  }

  /* Configures the general aesthetic for a tablet. */
  @media only screen and (max-width:1024px) {
    h1 {
      font-size: 2.5em;
      margin-bottom: 1em;
      margin-top: 0;
      padding-bottom: 1em;
      padding-top: 1em;
    }

    nav {
      float: none;
      font-size: 1.3em;
      margin: 10px;
      padding-top: 0;
      width: auto;
    }

    nav ul {
      margin: 0;
      padding: 0;
    }

    nav li {
      display: inline-block;
    }

    nav a {
      border-style: none;
      font-weight: bold;
      padding: 1em;
      width: 8em;
    }

    main {
      margin: 0;
      font-size: 90%;
    }
  }

  /* Configures the general aesthetic for mobile. */
  @media only screen and (max-width:768px) {
    h1 {
      font-size: 2em;
      padding-left: 0;
      text-align: center;
    }

    nav {
      margin: 0;
    }

    nav a {
      display: block;
      border: 1px solid #FEF6C2;
      padding: 0.2em;
      width: auto;
    }

    nav li {
      display: block;
    }

    main {
      padding-top: 1px;
    }

    h2 {
      margin-right: 0.5em;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0.5em;
      padding-top: 0.5em;
    }

    #mobile {
      display: inline;
    }

    #desktop {
      display: none;
    }
  }
